*{
	margin:0px;
	padding:0px;
	border:0px;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.center{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}
.color1{
	background: #bfc7de;
}
.color2{
	background: #fff;
}
.wrapper{

}
.arrow{
	width: 0 !important;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	position: relative;
}
.arrow-color1{
	border-top: 40px solid #bfc7de;
}
.arrow-color2{
	border-top: 40px solid #fff;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.helper{
	height: 260px;
	background: url(images/border.png) no-repeat;
}
.helper-img{
	margin-top: 100px;
	width: 30%;
}
.helper-text{
	margin-top: 50px;
	margin-right: 120px;
	width: 40%;
	text-indent: 10px;
	font-size: 15px;
	background: rgba(0,0,0,.2);
	padding: 5px 10px;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,.6);
}
.main-info{
	font-size: 15px;
}
.main-info p{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	text-indent: 20px;
}
.image-attr{
	background: url(images/attributes.png);
	box-shadow: inset 0px 0px 6px 3px rgba(255,255,255,.8);
    height: 282px;
    width: 492px;
}